pytorch-lightning==2.1.2
lightning-fabric==2.1.2
gradio>=4.0.0
einops
omegaconf
torchmetrics
webdataset
accelerate==0.21.0
tensorboard
PyMCubes
trimesh
rembg
transformers>=4.38.0
diffusers>=0.25.0
bitsandbytes
imageio[ffmpeg]
xatlas
plyfile
git+https://github.com/NVlabs/nvdiffrast/